<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bem vindo</title>
	<link rel="stylesheet" type="text/css" href="../static/css/Loucademia_Estilo.css" />
</head>
<body>

	<form>
		<fieldset>
			<legend>Parâmetros de Acesso</legend>
			<label for="id">Matrícula:</label><br/>
			<input type="text" id="id" jsf:label="Matrícula"/><br/>
			<label for="rg">RG:</label><br/>
			<input type="text" id="rg" jsf:label="RG"/><br/>
			
		</fieldset>
		<br/>
		<input type="button" id="btRegistrar"/>
	</form>

</body>
</html>