<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dados Aluno</title>
	<link rel="stylesheet" type="text/css" href="../static/css/Loucademia_Estilo.css" />
</head>
<body>
		
		<form>
			<input type="hidden" id="matricula" />
			
			<fieldset>
				<legend>Dados Pessoais</legend>
				<label for="nome">Nome:</label><br/> 
				<input type="text" id="nome"  maxlength="64" minlength="2" label="Nome" />
				<br/>
				
				<label for="sexo">Sexo</label><br/>
				<select id="sexo" size="0" required="required">
					<option itemLabel="Escolha..." itemValue=""></option>
				</select>
				<br/> 
				
				<label for="rg">RG:</label><br/> 
				<input type="text" id="rg" maxlength="10" label="RG"/>
				<br/> 
				
				<label for="dataDeNascimento">Data de Nascimento:</label><br /> 
				<input type="date" id="dataDeNascimento" min="1940-01-01" max="2040-12-01" required="required" label="Data de nascimento"/>

			</fieldset>

			<br/>

			<fieldset>
				<legend>Situação</legend>
				<label for="situacao">Situação:</label><br /> 
				<select id="situacao" size="0">
				</select>
			</fieldset>

			<br/>

			<fieldset>
				<legend>Endereço</legend>
				<label for="rua">Rua</label><br /> 
				<input type="text" id="rua" maxlength="128" label="Rua"/>
				<br/> 
				
				<label for="numero">Número</label><br /> 
				<input type="text" id="numero" maxlength="6" label="Número"/>
				<br/>

				<label for="complemento">Complemento</label><br/> 
				<input type="text" id="complemento" maxlength="32" label="Complemento">
				<br/> 
				
				<label for="cidade">Cidade</label><br/>
				<input type="text"  id="cidade" maxlength="64" label="Cidade">
				</input>
				<br/> 
				
				<label for="estado">Estado</label><br/> 
				<select id="estado" size="0" label="Estado">
					<option itemLabel="Escolha..." itemValue="" ></option>
				</select>
				<br/> 
				
				<label for="cep">CEP</label><br /> 
				<input type="text" id="cep" maxlength="8" label="CEP"/>
			</fieldset>

			<br/>

			<fieldset>
				<legend>Contato</legend>
				<label for="email">E-mail</label> 
				<input type="email" id="email" maxlength="64" label="E-mail">
					<f:validateLength maximum="64" />
					<f:validateRegex pattern=".+@.+" />
				</input><br />  
				
				<label for="telefoneCelularDDD">TelefoneCelular</label><br /> 
				<input type="tel" id="telefoneCelularDDD" maxlength="2" label="DDD Celular">
				&#160;
				
				<input type="tel" id="telefoneCelularNumero" maxlength="9" jsf:label="Telefone Celular">
				<br/>

				<label for="telefoneFixoDDD">Telefone Celular</label><br /> 
				<input type="tel" id="telefoneFixoDDD" maxlength="2" label="DDD Fixo" >
				&#160;
				
				<input type="tel" id="telefoneFixoNumero" maxlength="9" label="Telefone Fixo" >
			</fieldset>

			<br/> 
			<input type="button" value="Gravar" id="btGravar"/> &#160;
			<input type="button" value="Relatório de entradas e saídas" />

		</form>
</body>
</html>